/* Fuentes
------------*/
$global-font: "Open Sans";
$main-font: "Open Sans";
$support-font: "Open Sans";



/* Colores
------------*/
$body-bg: 				#f1f1f1;
$header-bg: 			#fff;
$footer-bg: 			#fff;

$link-color: 			#0054A8;
$link-hover-color: 		#2B7CCE;
$text-color:   			#212121;	// color de texto base, principalmete usado en parrafos
$support-text-color: 	#727272;

$main-color:        	#0054A8;	// color principal de la marca
$main-color-dark:   	#002964;	
$main-color-light:  	#2B7CCE;
$main-color-text:   	#FFFFFF;	// color de texto en contraste con el color principal de la marca

$support-color:     	#FF9800;	// color secundario de la marca

$divider-color:        	#B6B6B6;	// color neutral, generalmente usado para divisiones

$social-btn-color: 		#666666;	// color base de los botones sociales

$nav-text-color:			$main-color;		
$nav-bg-text-color:			none;
$nav-text-color-hover:		$main-color-text;
$nav-bg-text-color-hover: 	$main-color;
$nav-text-color-active:		$main-color;
$nav-bg-text-color-active:	none;


/* Tamaños
------------*/
$header-height: 100px;
$desktop-width: 1300px;
$tablet-width: 880px;
$smaller-width: 560px;
