/* =Global
----------------------------------------------- */
 * { 
 	box-sizing: Border-box 
 }

html {
	font-size: 16px; /* 16px */
}
body {
	color: $text-color;
	font-family: $global-font;
	line-height: 1.5em; /* 24px */
	background: $body-bg;
	margin: 0;
	font-size: 1rem;
}
/* Links */
a {
	color: $link-color;
	text-decoration: none;
}
a:focus,
a:active,
a:hover {
	color: $link-hover-color;	
	text-decoration: none;
}
.main {
	// padding-top: $header-height;
}
h1, h2, h3, h4, h5, h6 {
	font-family: $main-font;
}

/* = Utilidades
----------------------------------------------- */
.admin-bar .navbar-fixed-top {
	margin-top: 32px;
}
.u-center-box {
	margin-left: auto;
	margin-right: auto;
}
.u-remove {
	display: none;
}

/* Contenedores
----------------------------------------------- */
.u-contenedor {
	display: block;
	overflow: hidden; 
	clear: both;
	width: $desktop-width;
	margin: 0 auto;

	@media (max-width: $desktop-width) {
		max-width: $desktop-width;
		width: 100%;
	}
}
.u-contenedorCompleto {
	width: 100%;
	
}
