.Header {
	/*width: 100%;*/
	position: relative;
	white-space: nowrap;
	clear: both;
	display: block;
	height: $header-height;
	background: $header-bg;
	margin: 0 auto;
	z-index: 99;
	position: relative; // Cambiar de relative a fixed si se quiere integrar el heade ral contenido
	left: 0;
	right: 0;
	overflow: hidden;

	.Header-logoContainer {
		background: #85c875;
		float: left;
		width: 20%;
		height: 100%;
		text-align: center;
		padding: 1rem 0;

		.Header-logoImg {
			display: inline-block;
			width: 20%;

			img {
				max-width: 100%;
			}
		}

		.Header-logoTitles {
			display: inline-block;
			width: 60%;
			color: #fff;

			h1, h2 {
				margin: 0;
			}
		}
	}
}
