
.Login {
	width: 80%;
	float: left;
	display: block;

	.Login-container {
		background: #fff;
		width: 550px;
		display: block;
		margin: 2rem auto 0;
		padding: 1.5rem 3rem;

		.Login-title {
			color: #787878;
			text-align: center;
			font-size: 1.5rem;
			margin-top: 0;
			border-bottom: 1px #787878 solid;
			padding-bottom: 1rem;
		}

		.Login-form {

			div {
				margin-bottom: 2rem;

				label {
					font-size: .9rem;
					color: #777;
					font-weight: bold;
					display: block;
				}

				input {
					width: 100%;
					background: #FBFBFB;
					border: 1px #E9E9E9 solid;
					/*height: 50px;*/
					padding: 1rem 1rem;
				}
			}

			.Login-formSubmit {
				text-transform: uppercase;
				background: #55CA75;
				color: #fff;
				border: none;
				float: right;
				padding: .5rem .8rem;
			}
		}
	}
}
