.Sidebar {
	background: #33414e;
	float: left;
	width: 20%;
	/*padding: 2rem .8rem;*/

	.Sidebar-userInfo, .Sidebar-userImg {
		vertical-align: top;
	}

	.Sidebar-user {
		background: #293744;
		padding: 1rem .5rem;
	}

	.Sidebar-userImg {
		margin: 0;
		width: 70px;
		height: 70px;
		background: #fff;
		border-radius: 50%;
		padding: .5rem;
		display: inline-block;

		img {
			max-width: 100%;
			display: block;
			margin: 0 auto;
		}
	}

	.Sidebar-userInfo {
		display: inline-block;
		width: 65%;
		color: #fff;
		padding: .5rem 0rem .5rem .5rem;

		h3,h4 {
			margin: 0;
		}

		h3 {
			font-size: .9rem;
		}

		h4 {
			font-size: .7rem;
		}
	}

	.Sidebar-userActions {
		color: #fff;
		text-align: center;
		font-size: .8rem;

		i {
			margin-right: .5rem;
		}
	}

	.Sidebar-nav {
		padding: 1rem 0rem;
		color: #fff;

		a {
			color: inherit;
			padding: 1rem 1rem;
			display: block;
		}

		ul {
			padding: 0;
			list-style: none;

			ul {
				padding-left: 2rem;
				background: #293744;
			}
		}

		.Sidebar-navTitle {
			color: #bed1e4;
			padding: 0 1rem;
		}

		.Sidebar-navNav {

			.active {
				background: #253340;

				a {
				}
			}
		}
	}
}

